<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/scriptsHead")
</head>
<body>
    <!-- ********* Menu Admin ********* -->
    @Html.Partial("_pvMenuAdmin")

    @RenderBody()


    @Scripts.Render("~/bundles/scriptsFooter")
</body>
</html>